// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//////////////flash
.flash_message,.error_message{
    padding: 0px 0px 0px 0px;
    color: red;
    text-align: center;
    font-size: 25px;
}
/////////////form
.form{
    font-size: 35px;
    margin:-20px 0px -20px 0px; 
}
.form input,.form u.text_field{
    width: 200px;
    height: 20px;
    margin:0px 0px -20px 0px; 
}
.form input[type="submit"]{
    width: 100px;
    height: 40px;
    color: white;
    background-color: green;
    font-size: 20px;
}
.question_link{
    margin:100px 0px 0px 0px; 
    font-size: 15px;
}

.sidenav {
    display: block;
}