<div class="final_check top-main">
  <div class="final_check form">
    <h2>アカウントを削除すると、これまでのデータ全てが失われます。</h2>
    <h2>それでも削除する場合は下のボタンをクリックしてください。</h2>
    <%= button_to  "削除", {controller: 'user', action: 'all_delete'}, {method: :post} %>
  </div>
</div>
