<div class="question top-main">
  <div class="question form">
    <h2>登録したメールアドレスを入力してください</h2>
    <% if @error_message %>
      <div class="error_message">
        <%= @error_message %>
      </div>
    <% end %>
    <%= form_for @user,url:{action: :mail_check} do |u|%>
      <div class="row">
        <div class="input-field col s10 push-s1">
          <%=u.text_field :email , :type=>"email"%>
        </div>
      </div>
      <p></p>
      <%=u.submit '送信'%>
    <% end %>
  </div>
</div>
