<div class="question top-main">
  <div class="question form">
    <h2>登録したメールアドレスを入力してください</h2>
    <% if flash[:notice] %>
      <div class="flash_message">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= form_tag("/user/mail_check") do%>
      <% if @flag == nil%>
        <input name="email">
      <%elsif @flag == "exist"%>
        <h2><%=@user_data.question%></h2>
        <input name="answer">
      <% end %>
      <p></p>
      <input type="submit" value="決定">
    <% end %>
  </div>
</div>
