<div class="question top-main">
  <div class="question form">
    <h2>登録したメールアドレスを入力してください</h2>
    <% if @error_message %>
      <div class="error_message">
        <%= @error_message %>
      </div>
    <% end %>
    <%= form_for @user,url:{action: :mail_check} do |u|%>
      <%=u.text_field :email%>
      <p></p>
      <%=u.submit '送信'%>
    <% end %>
  </div>
</div>
