<div class="set_password top-main">
  <div class="set_password message">
    <h1>パスワードと秘密の質問を設定してください</h1>
    <h2><%= link_to("登録した情報を設定し直したい方はこちら", "/user/join") %></h2>
  </div>
  <% if flash[:notice] %>
    <div class="flash_message">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="set_password_form">
    <%=form_tag("/user/password") do%>
      <p>パスワード</p>
      <input name="o_password">
      <p>確認のため、もう一度入力してください</p>
      <input name="re_password">
      <p>秘密の質問</p>
      <input name="question">
      <p>秘密の質問の答え</p>
      <input name="answer">
      <p></p>
      <input type="submit" value="登録">
    <%end%>
  </div>
</div>
