<div class="rule top-main">
  <div class="rule message">
    <h1>３日間で作れたもの</h1>
    <h2>秘密の質問フォーム</h2>
    <h2>ユーザーの名前変更フォーム</h2>
    <p></p>
    <h1>３日間の感想</h1>
    <h2>エラー吐かれまくって大変だった</h2>
    <h2>railsむずすぎワロタ</h2>
  </div>
</div>
